@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
:root {
  --primary: #1a1b22;
  --text_h: #5d5fef;
  --fontcolor: rgba(0, 0, 0, 0.7);
  --grey: rgba(0, 0, 0, 0.03);
  --display: unset;
  --mode: "light";

  --link: rgba(0, 0, 0, 0.7);
}
* {
  -webkit-font-smoothing: antialiased;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;

  background: rgba(255, 250, 250);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.active {
  color: var(--text_h);
}
