@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  --primary: #1a1b22;
  --text_h: #59ffd3;
  --fontcolor: #000000b3;
  --grey: rgba(0, 0, 0, 0.03);
  --display: unset;
  --mode: "light";

  --link: rgba(0, 0, 0, 0.7);
}
* {
  -webkit-font-smoothing: antialiased;
}
body {
  background: white;
  opacity: 1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.031) 1px, transparent 1px),
    linear-gradient(to right, rgba(0, 0, 0, 0.031) 1px, transparent 1px);
  background-size: 100px 100px;

  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.active {
}

code {
  font-size: 0.8rem;

  border-radius: 3px !important;
  position: relative;
}

:not(div) > code {
  color: #ff3d3d;
  font-weight: bold;
  background: #ffebeb;
  padding: 0.1rem 0.1rem;
}

pre > div {
  border-radius: 0.25rem !important;
  padding: 0.7rem 0.7rem;
}
blockquote {
  border-radius: 0.25rem !important;

  margin: 0;
  padding: 1em;
  background: #eee;
}

@media only screen and (min-width: 1020px) {
  pre {
    /* width:70%; */
  }
}
