@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  /* font-family: "Roboto", sans-serif; */
  /* font-family: "Poppins", sans-serif; */
  scroll-behavior: smooth;
  transition: background-color 0.3s;
  background-color: var(--primary);
}

.App {
  margin: 0%;
  transition: background-color 0.3s;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.home {
  scroll-snap-type: y mandatory;
}
section {
  scroll-snap-align: start;
}
.developer {
  font-family: "Poppins", sans-serif;
}
.frontend {
  font-family: "Poppins", sans-serif;

  /* text-shadow: -2.5px -2.5px 0 var(--fend), -5px -5px 0 rgb(17, 44, 252); */
  background: linear-gradient(
    45deg,
    var(--fend) 30%,
    var(--cyan) 50%,
    rgb(5, 108, 234) 90%
  );
  background-size: 250% 100%;
  background-position: 100% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation:bg  .4s linear 1;
}
.hello{
  font-family: "Poppins", sans-serif;
}

@keyframes bg {
  0% {
  
    background-position: 0% 100%;
    background-clip: text;
  }
  25% {
    
    background-position: 50% 100%;
    background-clip: text;
  }
  50% {
    
    background-position: 75% 100%;
    background-clip: text;
  }
  100% {
    
    background-position: 100% 100%;
    background-clip: text;
  }
}

.projectname {
  background: linear-gradient(
    -45deg,
    var(--fend),
    var(--cyan),
    rgb(17, 44, 252)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about{
  /* color:white !important;
 
  background:   rgb(17, 44, 252); 
   */
}
.back{
  /* color:white !important;
 
  background:   rgb(17, 44, 252);  */
  
}
.frontend_about {
  background: linear-gradient(
    120deg,
    var(--fend),
    var(--cyan),
    rgb(17, 44, 252)
  );
  background-size: 250% 100%;
  background-position: 100% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}
.tags{
  background: linear-gradient(
    120deg,
    var(--fend),
    var(--cyan),
    rgb(17, 44, 252)
  );
  background-clip: text;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.head {
  /* position: absolute;
  top: 0px; */
  backdrop-filter: blur(100px);
  font-family: "Poppins", sans-serif;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr repeat(3, max-content);
  grid-template-areas: "header1 header2 header3 header4";
  height: 4rem;
  width: 100%;
  margin: 0%;

  align-items: flex-start;
  position: fixed;
  top: 0px;
  transition: all 0.2s ease-in-out;
  z-index: 66;
}
.name {
  grid-column-start: header1;
  grid-column-end: header2;
  align-self: flex-end;
  justify-self: start;
}

.about {
  grid-column-start: header3;
  justify-self: flex-end;
  align-self: flex-end;
  
}

.foot {
  padding-top: 1rem;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, minmax(70px, 70px));
  /* grid-template-areas: 'header1 header2 header3 '
                       ; */
  height: 2rem;
  width: 100%;
  margin: 0px;

  /* position: fixed; */
}

.link {
  transition: all 0.3s ease-in-out;

  transition: all 0.1s ease;
}
.link:hover {
  color: var(--link);
}

.box:before {
  content: "";
  width: 150px;
  height: 150px;
  border-radius: 15px;
  background-color: var(--fend);
  background-size: 150px;
  transform: translate(05px, 5px);
  display: block;
  border: 0px solid var(--fontcolor);
}
.box {
  display: block;
  border-radius: 15px;
  background-color: var(--blue);
}
.box::after {
  content: "";
  width: 150px;
  height: 150px;
  border-radius: 15px;
  margin-left: 5px;
  margin-top: 5px;
  transform: translate(5px, -145px);

  background-color: var(--cyan);

  display: block;
  border: 0px solid var(--fontcolor);
}

.boxes2 {
  display: block;
  width: 100%;
}
