@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  scroll-behavior: smooth;  
  transition: background-color 0.3s ;
  background-color: var(--primary);
  
}

.App{
  margin: 0%;
  transition: background-color 0.3s ;
  box-sizing: border-box;
  
  display: flex;
  flex-direction: column;
  justify-content: center;  
  background-color: var(--primary);
/*   

  min-height: 100vh;
   */
   
}
.frontend{

  text-shadow:  -2.5px -2.5px 0 var(--fend),-5px -5px 0 rgb(17, 44, 252);
}
.head{
  /* position: absolute;
  top: 0px; */
  backdrop-filter: blur(100px);
 
  
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr repeat(3, max-content); 
  grid-template-areas: 'header1 header2 header3 header4'
                       ;
  height: 4rem; 
  width:100%;
  margin: 0%;  
  
  align-items: flex-start;
  position:fixed;
  top: 0px;       
  transition: all .2s ease-in-out; 
  z-index: 66;   
}
.name{
  grid-column-start: header1;
  grid-column-end: header2;
 
  justify-self: start;

  
}

.about{
  grid-column-start:header3;
  justify-self: end;
  
  margin-right: .8rem;
 
  
}


.toggle{
  grid-column-start:header4;
  /* justify-self: end; */
 
  
  cursor: pointer;
  transition: all .2s ease-in-out;
  /* width:min-content; */
  height:fit-content;
}
               .moon{
                display: var(--displaym);
                transform: scale(.8);
               }
               .sun{
                display:var(--display);
              animation: rotate .25s linear   .8s;
              }
              .moon{
              animation: rotate .2s linear   .8s;
              }
                @keyframes rotate
                {
                  0%{
                    transform: rotate(0deg);
                  }
                  100%{
                    transform: rotate(360deg);
                  }
               }
    @media screen and (min-width: 600px) 
    {
      .toggle{
        
      }
      #sun{
        transform: scale(1.2);
        
      }
      #moon{
        transform: scale(.81);
        
      }
    }
  #moon,#sun{
    fill: var(--fontcolor);
  }
  #moon:hover,#sun:hover{
    fill: var(--cyan);
  }
.foot{

  
  padding-top: 1rem;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns:  repeat(3, minmax(70px,70px)) ;
  /* grid-template-areas: 'header1 header2 header3 '
                       ; */
  height: 2rem; 
  width:100%;
  margin: 0px;  
  
  /* position: fixed; */

 
 
}

.link{
 

  
  transition: all .3s ease-in-out;
  
   transition: all .1s ease;
}
.link:hover{
  
  color:var(--link); ;
 
}
::-webkit-scrollbar{
  
}
::-webkit-scrollbar-track{
 background-color: var(--primary);

}
::-webkit-slider-thumb{
  background-color: var(--grey); 
  
}
.box:before{
  content: '';
  width: 150px;
  height: 150px;
 
  background-color: var(--fend);
  background-size: 150px;
  transform: translate(05px ,5px);
display: block;
border:0px solid var(--fontcolor);
}
.box{
  display: block;
  background-color:var(--blue); 
}
.box::after{
  content: '';
  width: 150px;
  height: 150px;
 
 
  margin-left:5px ;
  margin-top: 5px;
  transform: translate(5px ,-145px);
  
  background-color: var(--cyan); 

display: block;
border:0px solid var(--fontcolor);
}





/* .photo::before{
  content: '';
  width: 150px;
  height: 150px;
  
 


 background-color: var(--cyan);
  transform: translate(10px ,-400px);
display: block;
border:0px solid var(--fontcolor);
} */
.boxes{
  
}

.boxes2{
  display: block;
  /* background-color:var(--cyan);  */
}
.boxes2::before{
  content: '';
  width: 150px;
  height: 150px;
 
 
  margin-left:5px ;
  margin-top: 5px;
 
  
  background-color: var(--fend);

display: block;
border:0px solid var(--fontcolor);
}
