/* Write your global styles here, in PostCSS syntax */

@tailwind base;
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #FFFCF0;

  --fontcolor: #8A8A8A;
  
  --display: unset;
  --mode: "light";
 
  --link:#80D8C4;
 
}
* {
  -webkit-font-smoothing: antialiased;
}
body {
  margin: 0;
  background: var(--primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@tailwind components;
@tailwind utilities;
